name: CI

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: OCaml Install
        run: |
          sudo apt update
          sudo apt -y install ocaml
      - name: run
        run: |
          make ch4
          make ch7
